MONGODB_URI=mongodb://localhost:27017/liameddis
JWT_SECRET=sua_chave_secreta_jwt_aqui
UAZAPI_URL=https://api.uazapi.com
UAZAPI_TOKEN=seu_token_uazapi_aqui
UAZAPI_INSTANCE=sua_instancia_aqui
PORT=3001
